.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh;

  align-items: center;
  justify-items: center;

  background: #09090B;
  
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

main {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  grid-template-columns: repeat(3, minmax(17%, 20%));
  grid-template-rows: minmax(10%, 50%);

  color: #ffff;
  gap: 10px;
    
  width: 100vw;
  height: 100vh;
}

main div img {
  height: 170px;
  width: 170px;
  border-radius: 10px;
  color: #A855F7;
}

section {
  display: grid;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  background-color:   #3F3F46;
}

section div p {
  margin: 0;
}

button {
  height: 50px;
  width: 50px;
  background: transparent;
  border: 0;

  cursor: pointer;
}

.ValorCadeira button img,.ValorHeadset button img, .ValorMonitor button img, .ValorTeclado button img, .ValorMouse button img, .ValorGabinete  button img {
  width: 35px;
  height: 30px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: min-content;
  height: fit-content;
}

.product img {
  height: 115px; 
  width: 136px;
}

.ValorCadeira , .ValorHeadset, .ValorMonitor, .ValorTeclado, .ValorMouse, .ValorGabinete {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 170px;
}

.CartShopping {
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
}

.CartShopping img {
  height: 50px;
  width: 40px;
}