.App {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: 100vh;

  align-items: center;
  justify-items: end;

  background: #09090B;
  height: 100vh;
  
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-around;
}

main {
  display: grid;
  color: #ffff;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: max-content;
  gap: 20px;
  height: fit-content;
}

main div img {
  height: 170px;
  width: 170px;
  border-radius: 10px;
  color: #A855F7;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 220px;
  height: 20rem;

  border-radius: 20px;
  background-color:   #3F3F46;
}

button {
  height: 50px;
  width: 50px;
  background: transparent;
  border: 0;

  cursor: pointer;
}

.ValorCadeira button img,.ValorHeadset button img, .ValorMonitor button img, .ValorTeclado button img, .ValorMouse button img, .ValorGabinete  button img {
  width: 35px;
  height: 30px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 170px;
  height: fit-content;
}

.ValorCadeira , .ValorHeadset, .ValorMonitor, .ValorTeclado, .ValorMouse, .ValorGabinete {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 170px;
}

